#plateau{
	border-collapse: collapse;
	border : 5px groove #6C7A89;
	border-radius: 5px;
}

#plateau td {
	border: 1px solid #6C7A89;
	width: 50px;
	height: 50px;
	padding: 5px;
}

img {
	width: 80px;
	height: 80px;
}

.deplace {
	background: #2ECC71;
}

.deplace:hover {
	background-color: #26A65B;
}

.confirm {
	position: absolute;
	z-index: 1;
	left: 30%;
	right: 30%;
	top : 30%;
	background-color: white;
	border-radius: 5px;
	border: blue outset 1px;
	padding: 5px;
	text-align: center;
	opacity: 0.9;
}

.message {
	position:absolute;
	z-index:1;
	font-size:200%;
	right:20%;
	left:20%;
	top:20%;
	
}

table {
	margin-left: auto;
	margin-right: auto;
}


pre {
	background: lightgrey;
}
